<!-- Footer of the site which will be present in all the pages -->
<style>
	#footer {
		background: #00588f;
		color: #fff;
		font-family: 'Exo 2', sans-serif;
	}
	
	#footer .container {
		padding: 5px;
	}
	form * {
		border-radius: 3px;
		max-width: 100%;
	}
	.submit {
		background: rgb(1, 130, 172);
		cursor: pointer;
		border: none;
		color: white;
		padding: 3px;
		transition: all .05s;
	}
	.submit:hover {
		transform: scale(1.05);
	}
	#left-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#right-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
	}
	#newsletter {
		display: flex;		
	    flex-direction: column;
	}
	#newsletter p {
		margin-bottom: 0px;
	}
	#social-buttons {
		display: flex;
	    justify-content: space-evenly;
	    max-width: 60%;
	    min-width: 300px;
	}
	#social-buttons a {
		text-decoration: none;
		color: white;
		font-size: 115%;
	}

	#social-buttons a:hover {
		color: white;
	}

	.main-site-link {
		text-decoration: underline;
		font-size: 1.3em;
		color: #555;
	}
	.main-site-link:hover {
		color: rgb(1, 130, 172);
	}
    .list-inline-item {
		/*border-color: #111;*/
	    /*border-radius: 50%;*/
	    /*background: #222;*/
	    /*width: 55px;*/
	    /*height: 55px;*/
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	}

	.contact-item {
		display: flex;
		margin: 0 auto 5px;
		color: rgb(1, 130, 172);
		transition: all .05s;
	}

	.contact-address {
		margin-left: 10px;
		font-size: 1.3em;
	}
	.contact-address a {
		color: #999;
		text-decoration: none;
	}

	.contact-address a:hover {
		color: rgb(1, 130, 172);
	}
	
	#feedback {
		margin-top: 20px;
	}
	#contact-form * {
		margin-bottom: 10px;
	}

	@media screen and (max-width: 1024px) {
		#social-buttons {
			max-width: 90%;
		}

	}
	@media screen and (max-width: 768px) {
		#left-footer {
			align-items: center;
		}
		#right-footer {
			align-items: center;
			margin-top: 1.35em;
		}	
	}

</style>

<footer id="footer">
	<div class="container">
	    <div class="row">
	        <div id="left-footer" class="col-sm-6">
	            <div id="newsletter">
	                <p>&copy; SVCE-ACM 2018. All Rights Reserved.</p>
	                <!-- <form id="newsletter-sub" action="#">
	                    <input type="email" placeholder="Enter your email" required>
	                    <button class="submit" type="submit">Subscribe</button>
	                </form> -->
	            </div><!-- #newsletter -->
	            
	        </div><!-- .col-md-6 -->
	        <div id="right-footer" class="col-sm-6">
				<div id="social-buttons" class="text-right">
	                <a href="https://www.facebook.com/SVCEACM/">
							<i class="fab fa-facebook fa-2x fa-fw"></i>
					</a>
	                <a href="https://twitter.com/acm_svce">
							<i class="fab fa-twitter-square fa-fw fa-2x"></i>
					</a>
	     	    	<a href="https://www.instagram.com/svceacm/">
							<i class="fab fa-instagram fa-fw fa-2x"></i>
					</a>
	                <a href="https://github.com/SVCE-ACM">
							<i class="fab fa-github fa-fw fa-2x"></i>
					</a>
					<a href="https://github.com/SVCE-ACM">
							<i class="fas fa-envelope fa-fw fa-2x"></i>
					</a>
	            </div><!-- #social-buttons -->
	        </div><!-- .col-md-6 -->
	    </div><!-- .row -->
	</div><!-- .container -->
</footer><!-- #footer -->