<!-- Sidebar for larger screens (>1024px) which will contain popular articles and ads -->
<div id="sidebar_inner">
    <div id="newsletter">
        <h2 class="sidebar-title">Subscribe to our newsletter</h2>
        <form id="newsletter-sub" action="add_sub.php">
            <input type="email" placeholder="Enter your email" required>
            <button class="submit" type="submit"><b>Subscribe</b></button>
        </form>
    </div><!-- #newsletter -->
    
</div><!-- #sidebar_inner -->

<style>
    #sidebar_inner {
        display: flex;
        flex-direction: column;
    }
    .sidebar-title {
        font-family: 'Montserrat', sans-serif;
    }
    .list-group li {
        margin-bottom: 7px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
    }
	#popular-articles {
		margin-top: 10vh;
        /*margin-top: 20px;*/
        max-width: 350px;
	}
    
    
    #newsletter-sub input{
        margin-bottom: 5px;
    }
    
    @media screen and (max-width: 1200px) and (min-width: 600px) {
        #popular-articles {
            flex: 50%;
            margin-top: 0;
        }
        #newsletter {
            flex: 50%;
        }
        #newsletter-sub {
            max-width: 50%;
        }
    }
    @media screen and (max-width: 1200px) {
        #sidebar_inner {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 600px) {
        #sidebar_inner {
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        #popular-articles {
            margin-top: 50px;
        }
    }
</style>

<script>
    var distance = $('#newsletter').offset().top,
        $window = $(window),
        isLargeScreen = window.matchMedia("(min-width: 1200px)");

    function stickSideBar (isLargeScreen) {
        if (isLargeScreen.matches) {
            $window.scroll(function() {
                if ( $window.scrollTop() + $('nav').height() >= distance ) {
                    $('#newsletter').css({
                        "position": "fixed",
                        "margin-top": 0,
                        "width": $('#newsletter').width()
                    });
                } else {
                    $('#newsletter').css({
                        "position": "",
                        "margin-top": "",
                        "width": ""
                    });
                }
            });
        } else {
            $window.unbind('scroll');
            $('#newsletter').css({
                "position": "",
                "margin-top": ""
            });
        }
    }
    stickSideBar(isLargeScreen);
    isLargeScreen.addListener(stickSideBar);
</script>
